<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

    <style>
        .container {
            min-height: 100%;
            font-family: "Times New Roman sans-serif";
            font-weight: lighter;
            letter-spacing: 0.1em;
        }

        .blog-post {
            border-top: 1px dotted #333333;
            border-bottom: 1px dotted #333333;
        }

        .comment {
            padding-left: 2em;
            border-top: 1px dotted #aaaaaa;
            border-bottom: 1px dotted #aaaaaa;
        }

        form input, form textarea, form label {
            display: block;
            padding-top: 0.5em;
            margin-top: 0.5em;
        }

        h1 > a {
            color: #66aaff;
            text-decoration: underline;
        }

        h1 > a.active {
            color: #66bb33;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Blog (
    <a href="#" id="visitor" {{(userType == 'visitor') ? 'class="active"' : ''}}>Bezoeker</a> /
    <a href="#" id="admin-basic" {{(userType == 'admin-basic') ? 'class="active"' : ''}}>Admin - Simpel</a> /
    <a href="#" id="admin-advanced" {{(userType == 'admin-advanced') ? 'class="active"' : ''}}>Admin - Geavanceerd</a>)
    </h1>
    <div class="blog-posts">
        {% if userType in [ 'admin-basic', 'admin-advanced' ] %}
            <h2>Blog plaatsen</h2>
            <form class="add-post" action="#">
                <input type="hidden" name="post-id" value="{{ post.id }}"/>

                <label for="title">Titel</label>
                <input type="text" name="title"/>

                <label for="content">Inhoud</label>
                <textarea name="content"></textarea>

                <input type="button" value="Plaatsen" />
            </form>
        {% endif %}
    </div>
</div>

<script>
    var userType = '{{ userType }}';

    var addCommentHandler = function () {
        var $form = $(this).closest("form");

        $.ajax({
            type: "POST",
            url: "comment",
            data: $form.serialize(),
            success: function (data) {
                addComment(data);

                $form.find("input[type=text], textarea").val("");
            }
        });
    };

    $('#admin-advanced').click(function() {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "admin-advanced",
            success: function() {
                location.reload();
            }
        })
    });

    $('#admin-basic').click(function() {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "admin-basic",
            success: function() {
                location.reload();
            }
        })
    });

    $('#visitor').click(function() {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "visitor",
            success: function() {
                location.reload();
            }
        })
    });

    function addPost(post) {
        var $blogPost = $(
            '<div class="blog-post" data-id="' + post.id + '">' +
                '<h2>' + post.title + '</h2>' +
                '<p>' + post.content + '</p>' +
                (
                    ($.inArray(userType, [ 'admin-advanced' ]) > -1)
                        ? '<div class="buttons"><button>Edit</button><button>Delete</button></div>'
                        : ''
                ) +
                '<div class="comments">' +
                    '<h2>Comment plaatsen</h2>' +
                    '<form class="add-comment" action="#">' +
                        '<input type="hidden" name="post-id" value="' + post.id + '"/>' +
                        '<label for="title">Content:</label>' +
                        '<textarea name="content"></textarea>' +
                        '<input type="button" value="Plaatsen"/>' +
                    '</form>' +
                '</div>' +
            '</div>'
        );

        $('div.blog-posts').prepend($blogPost);

        post.comments.forEach(addComment);

        $blogPost
            .find('div.comments > form > input[type=button]')
            .click(addCommentHandler);

        $blogPost
                .find('div.buttons > button')
                .click(
                    function () {
                        alert('Not yet implemented. Sorry!')
                    }
                );
    }


    function addComment(comment) {
        $('div.blog-posts > .blog-post[data-id="' + comment.postId + '"] > div.comments')
            .prepend(
                    $('<div class="comment"><p>' + comment.content + '</p></div>')
            );
    }


    $(function () {
        // Get all blog posts using AJAx
        $.ajax({
            type: "GET",
            url: "posts",
            success: function (data) {
                data.forEach(addPost);
            }
        });

        $('div.blog-posts > form > input[type=button]').click(
                function () {
                    var $form = $(this).closest("form");

                    $.ajax({
                        type: "POST",
                        url: "post", //'/',
                        data: $form.serialize(),
                        success: function (data) {
                            addPost(data);
                            $form.find("input[type=text], textarea").val("");
                        }
                    });
                }
        )
    });
</script>
</body>
</html>